#write {
    font-size: 14px !important;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    white-space: normal;
    overflow-wrap: break-word;
    color: rgb(96, 98, 102);
    -webkit-font-smoothing: antialiased;
    padding: 20px;
}

#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    color: #303133;
    font-size: 18px;
    font-weight: 100;
    height: 30px;
    line-height: 30px;
    margin: 0 0 15px;
    position: relative;
    padding-left: 20px;
}

#write h1::before,
#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
    position: absolute;
    background-color: #50bfff;
    font-size: 22px;
    top: 0;
    left: 0;
}

#write h1::before {
    content: "¶";
    font-weight: normal;
    color: #50bfff;
    left: -5px;
    background-color: transparent;
}

#write h2::before {
    content: ' ';
    height: 30px;
    width: 4px;
    /*left: 5px;*/
    border-radius: 2px;
}

#write h3::before {
    content: '';
    width: 4px;
    height: 30px;
    /*left: 5px;*/
    border-radius: 0 4px 4px 0;
    font-size: 20px;
}


#write h4,
#write h5,
#write h6 {
    padding-left: 0;
}

#write h4::before,
#write h5::before,
#write h6::before {
    color: #50bfff;
    /*margin-left: 5px;*/
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    position: relative;
    margin-right: 5px;
}

#write h4::after,
#write h5::after,
#write h6::after {
    color: #50bfff;
    font-weight: normal;
    background-color: transparent;
    position: relative;
    margin-left: 5px;
}

#write h4::before {
    content: 'ß';
}

#write h4::after {
    content: 'ß';
}


#write h5::before {
    content: "ç";
}

#write h5::after {
    content: "ç";
}


#write h6::before {
    content: "∫";
}

#write h6::after {
    content: "∫";
}

#write li {
    line-height: 30px;
}

#write p {
    margin: 0 0 15px;
    line-height: 30px;
}


#write p > code {
    color: #50bfff;
    display: inline-block;
    padding: 0 5px;
    background-color: #ecf8ff;
    border-radius: 3px;
}

#write hr {
    border: none;
    height: 1px;
    background-color: #e4e7ed;
    margin: 0 0 15px;
}

#write blockquote > p {
    margin: 0;
}


#write blockquote {
    color: #50bfff;
    background-color: #ecf8ff;
    border-left: 5px solid #50bfff;
    padding: 7px 15px;
    margin: 0 0 15px;
    font-size: 14px;
}

#write a {
    color: #409eff;
    /*text-decoration: none;*/
}

#write a[href^='http']::after {
    content: "\f08e";
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 5px;
}

#write img {
    max-width: 100%;
    border-radius: 4px;
    transition: transform .35s, box-shadow .35s;
}

#write table {
    max-width: 100%;
    table-layout: fixed;
    color: #909399;
    margin-bottom: 15px;
    font-size: 13px;
    border-top: 1px solid #ebeef5;
    border-left: 1px solid #ebeef5;
    border-collapse: collapse;
}

#write table thead th {
    font-weight: 500;
    background: #ebeef5;
    padding: 8px;
    min-width: 100px;
    text-align: center;
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
}

#write table tbody td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;

}

#write ol,
#write ul {
    padding-left: 20px;
}

#write .fwcode {
    height: auto;
    padding: 10px;
    border-radius: 5px;
}


#write .fwcode.fwcode-success {
    border: 1px solid #3CDF48;
    color: #2BDE3E;
}


#write .fwcode.fwcode-info {
    border: 1px solid #1B72F3;
    color: #2A78F3;
}

#write .fwcode.fwcode-error {
    border: 1px solid #F46C6B;
    color: #F46F6F;
}

#write .fwcode.fwcode-warning {
    border: 1px solid #FEC008;
    color: #FEC119;
}


#write .fwalert {
    padding: 10px;
    border-radius: 3px;
}

#write .fwalert br {
    display: none;
}

#write .fwalert::before {
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
}

#write .fwalert.fwalert-success {
    background-color: #EAFBE8;
    color: #2BDE3E;
}

#write .fwalert.fwalert-success::before {
    content: "\f058";
}

#write .fwalert.fwalert-error {
    background-color: #FFEDEC;
    color: #F46C6B;
}

#write .fwalert.fwalert-error::before {
    content: "\f057";
}

#write .fwalert.fwalert-info {
    background-color: #E4EDFD;
    color: #1B72F3;
}

#write .fwalert.fwalert-info::before {
    content: "\f05a";
}

#write .fwalert.fwalert-warning {
    background-color: #FFF7E5;
    color: #FEC008;
}

#write .fwalert.fwalert-warning::before {
    content: "\f06a";
}

#write .fwtab {
    border: 1px solid #EBEEF4;
    border-radius: 5px;
}

#write .fwtab .fwh {
    background-color: #F2F6FB;
    padding: 5px 10px 0;
}

#write .fwtab .fwh .fwthead {
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
}

#write .fwh .fwthead.fwcurrent {
    color: #2A78F3;
    border-bottom: 2px solid #2A78F3;
}

#write .fwtab .fwh .fwthead:hover {
    cursor: pointer;
}

#write .fwb .fwtbody {
    padding: 10px;
    display: none;
}

#write .fwtab .fwh > br,
#write .fwtab .fwb > br,
#write .fwtab > br {
    display: none;
}

#write .fwbtn {
    color: #fff;
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
    transition: all .3s;
}

#write .fwbtn::after {
    content: '' !important;
    padding: 0;
}

#write .fwbtn:hover {
    transition: all .3s;
    transform: translateY(-10%);
}

#write .fwbtn i.fa {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

#write .fwbtn.fwbtn-normal {
    background-color: #34485E;
}

#write .fwbtn.fwbtn-normal i.fa {
    background-color: #293A4B;
}

#write .fwbtn.fwbtn-success {
    background-color: #24AF60;
}

#write .fwbtn.fwbtn-success i.fa {
    background-color: #1E8C4D;
}

#write .fwbtn.fwbtn-info {
    background-color: #3598DA;
}

#write .fwbtn.fwbtn-info i.fa {
    background-color: #2C7AAE;
}

#write .fwbtn.fwbtn-error {
    background-color: #E74C3B;
}

#write .fwbtn.fwbtn-error i.fa {
    background-color: #B93D2F;
}

#write .fwbtn.fwbtn-warning {
    background-color: #F39C12;
}

#write .fwbtn.fwbtn-warning i.fa {
    background-color: #C37D11;
}

#write .fwgroup {
    padding: 20px 20px 10px;
    border: 2px dashed #DCDFE5;
}

#write .fwgroup .fwgroup-title {
    font-weight: 900;
    top: -11px;
    left: 12px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 16px;
}

.shuo-content iframe.fwbili,
#shuo-content iframe.fwbili,
#write iframe.fwbili {
    width: 100%;
    height: 500px;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}


#write .fwcline {
    height: 4px;
    margin-top: 15px;
    background-size: 50px 4px;
}
/* end */


#write img:hover {
    cursor: pointer;
}

#shuo-content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

#shuo-content .lw-shuo-img {
    object-fit: cover;
    margin-right: 5px;
    width: 31%;
    height: 200px;
}

#write meting-js ol {
    padding-left: 0;
}

#shuo-content .lw-shuo-img:hover {
    cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .shuo-content iframe.fwbili,
    #shuo-content iframe.fwbili,
    #write iframe.fwbili {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .shuo-content iframe.fwbili,
    #shuo-content iframe.fwbili,
    #write iframe.fwbili {
        height: 250px;
    }
}

@media (max-width: 767px) {
    .shuo-content iframe.fwbili,
    #shuo-content iframe.fwbili,
    #write iframe.fwbili {
        height: 225px;
    }
}